<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="social-links">
      <a href="https://www.linkedin.com/in/chyhsu" target="_blank" rel="noopener noreferrer" title="LinkedIn">
        <svg class="svg-icon">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
        </svg>
        <span class="username">Chun-Yuan Hsu</span>
      </a>
      <a href="https://github.com/chyhsu" target="_blank" rel="noopener noreferrer" title="GitHub">
        <svg class="svg-icon">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
        </svg>
        <span class="username">chyhsu</span>
      </a>
      <a href="mailto:chyhsu@umich.edu" title="Email">
        <svg class="svg-icon">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#email' | relative_url }}"></use>
        </svg>
        <span class="username">chyhsu@umich.edu</span>
      </a>
    </div>

  </div>

</footer>