<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    <!-- Background Image -->
    <img src="{{ '/assets/images/20200711_190244.jpg' | relative_url }}" alt="Background" class="background-image">
    <div class="background-overlay"></div>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    
    <!-- Custom JavaScript -->
    <script src="{{ "/assets/js/custom.js" | relative_url }}"></script>

  </body>

</html> 