<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {% include chrome/head.html %}
  <body class="{{ page.body_class | default: 'site-page' }}">
    <a class="skip-link" href="#main-content">Skip to content</a>
    {% include chrome/header.html %}
    <main id="main-content" class="page-main" tabindex="-1">
      {{ content }}
    </main>
    {% include chrome/footer.html %}
    {% for script in page.scripts %}
      <script src="{{ script | relative_url }}" defer></script>
    {% endfor %}
  </body>
</html>
