<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <!-- Background Image -->
    <img src="{{ '/assets/images/20200711_190244.jpg' | relative_url }}" alt="Background" class="background-image">
    <div class="background-overlay"></div>

    {%- include header.html -%}

    <!-- Hero Banner Section -->
    <section class="hero-banner">
      <div class="hero-content">
          <div class="avatar-container">
            <img src="{{ '/assets/images/2473.jpg' | relative_url }}" alt="{{ site.title }}" class="avatar">
          </div>
          <div class="hero-text">
            <h1 class="hero-title">{{ site.author }}</h1>
            <p class="hero-subtitle">{{ site.description }}</p>
            <div class="hero-catagory">
              <a href="{{ '/about' | relative_url }}" class="hero-link">More About Me</a>
              <a href="{{ '/assets/pdf/CV.pdf' | relative_url }}" class="hero-link">Download CV</a>
              <a href="{{ '/blog' | relative_url }}" class="hero-link">Blog</a>
            </div>
          </div>
          
      </div>
    </section>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    
    <!-- Custom JavaScript -->
    <script src="{{ "/assets/js/custom.js" | relative_url }}"></script>

  </body>

</html> 